<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style-index.css')}}">
    <title>AC03</title>
  </head>
  <body>
    <form>
        <h1>Atividade Contínua 03</h1>
        <div class="button">
          <a href="/request">
            <input class="request" type="button" value="Request" />
          </a>
          <a href="/json">
            <input class="json" type="button" value="Json" />
          </a>
        </div>
    </form>
  </body>
</html>
